The methods of handling missing values include:
1. Imputation
2. Drop Rows
3. Drop Columns

But first the important thing is to find how many missing values are there in the numerical cols that we can handle.

So first step is to find classify the numerical cols vs the categorical cols.

In [25]:
import pandas as pd
# for dataframe related manipulations
import matplotlib as plt
# for displaying certain features and their aspects

# load the merged dataset into a df and call it 'merged_df'
merged_df = pd.read_csv("atp_matches_2010_2024.csv")

# first check which numerical features have missing values:
#  figure out numerical columns = 
numerical_cols = [] # define
categorical_cols = [] # define

Give a small peek into what the data looks like?

In [26]:
merged_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,NaN,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,30,103285,2.0,NaN,...,27.0,14.0,7.0,7.0,3.0,7.0,12.0,2625.0,13.0,2610.0
2,2010-339,Brisbane,Hard,32,A,20100103,29,104053,1.0,NaN,...,43.0,34.0,21.0,13.0,10.0,12.0,7.0,4410.0,20.0,1655.0
3,2010-339,Brisbane,Hard,32,A,20100103,28,103285,2.0,NaN,...,40.0,25.0,11.0,10.0,6.0,10.0,12.0,2625.0,105.0,521.0
4,2010-339,Brisbane,Hard,32,A,20100103,27,104792,3.0,NaN,...,50.0,38.0,17.0,14.0,3.0,6.0,13.0,2610.0,44.0,935.0

In [27]:
# iterate thru the columns in the dataframe to figure out which are float/int
for col in merged_df.columns:
    dtype = merged_df[col].dtype
    unique_count = merged_df[col].nunique()
    total_count = len(merged_df)

    if dtype in ["int64", "float64"]:
        if col in ["winner_id", "loser_id", "tourney_id", "match_num"]:
            categorical_cols.append(col)
        elif unique_count < 10: 
            categorical_cols.append(col)
        else:
            numerical_cols.append(col)
    else:
        categorical_cols.append(col)

# semantic classification for now.
if "tourney_date" in categorical_cols:
    categorical_cols.remove("tourney_date")
    numerical_cols.append("tourney_date")

Print the classifications:

In [28]:
print("\nNumerical Columns:")
print(numerical_cols)
print(f"Total numerical columns: {len(numerical_cols)}\n")
print("Categorical Columns:")
print(categorical_cols)
print(f"Total categorical columns: {len(categorical_cols)}\n")

Numerical Columns:
['draw_size', 'tourney_date', 'winner_seed', 'winner_ht', 'winner_age', 'loser_seed', 'loser_ht', 'loser_age', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points']
Total numerical columns: 31

Categorical Columns:
['tourney_id', 'tourney_name', 'surface', 'tourney_level', 'match_num', 'winner_id', 'winner_entry', 'winner_name', 'winner_hand', 'winner_ioc', 'loser_id', 'loser_entry', 'loser_name', 'loser_hand', 'loser_ioc', 'score', 'best_of', 'round']
Total categorical columns: 18

Calculate the missing values and percentages for numerical columns and report those values and percentages in the numerical cols.

In [29]:
numerical_missing = merged_df[numerical_cols].isnull().sum()
numerical_missing_percent = (merged_df[numerical_cols].isnull().mean() * 100).round(2)

missing_numerical_df = pd.DataFrame({
    "Missing Count": numerical_missing,
    "Missing Percent": numerical_missing_percent
})
missing_numerical_df = missing_numerical_df[missing_numerical_df["Missing Count"] > 0]
print("Numerical columns with missing values:")
print(missing_numerical_df)

Numerical columns with missing values:
                    Missing Count  Missing Percent
winner_seed                 24405            57.33
winner_ht                     491             1.15
winner_age                      3             0.01
loser_seed                  32329            75.94
loser_ht                     1100             2.58
loser_age                       3             0.01
minutes                      4383            10.30
w_ace                        2742             6.44
w_df                         2742             6.44
w_svpt                       2742             6.44
w_1stIn                      2742             6.44
w_1stWon                     2742             6.44
w_2ndWon                     2742             6.44
w_SvGms                      2742             6.44
w_bpSaved                    2742             6.44
w_bpFaced                    2742             6.44
l_ace                        2742             6.44
l_df                         2742             6.44
l_svpt                       2742             6.44
l_1stIn                      2742             6.44
l_1stWon                     2742             6.44
l_2ndWon                     2742             6.44
l_SvGms                      2742             6.44
l_bpSaved                    2742             6.44
l_bpFaced                    2742             6.44
winner_rank                   262             0.62
winner_rank_points            262             0.62
loser_rank                    671             1.58
loser_rank_points             671             1.58

'winner_seed' and 'loser_seed' should be removed.

In [30]:
categorical_missing = merged_df[categorical_cols].isnull().sum()
categorical_missing_percent = (merged_df[categorical_cols].isnull().mean() * 100).round(2)

missing_categorical_df = pd.DataFrame({
    "Missing Count": categorical_missing,
    "Missing Percent": categorical_missing_percent
})
missing_categorical_df = missing_categorical_df[missing_categorical_df["Missing Count"] > 0]
print("Numerical columns with missing values:")
print(missing_categorical_df)

Numerical columns with missing values:
              Missing Count  Missing Percent
surface                  53             0.12
winner_entry          36903            86.69
loser_entry           33418            78.50
loser_hand                4             0.01

'winner_entry' and 'loser_entry' should be removed.

In [31]:
merged_df = merged_df.drop(columns=["winner_seed", "loser_seed", "winner_entry", "loser_entry"])

In [32]:
max_winner_rank = merged_df['winner_rank'].max()
min_winner_rank = merged_df['winner_rank'].min()
max_loser_rank = merged_df['loser_rank'].max()
min_loser_rank = merged_df['loser_rank'].min()
max_winner_rank_points = merged_df['winner_rank_points'].max()
min_winner_rank_points = merged_df['winner_rank_points'].min()
max_loser_rank_points = merged_df['loser_rank_points'].max()
min_loser_rank_points = merged_df['loser_rank_points'].min()

In [33]:
max_loser_rank

np.float64(2159.0)

Columns to fill with 0:

In [34]:
stats_cols = ["w_ace", "w_df", "w_svpt", "w_1stIn", "w_1stWon", "w_2ndWon", "w_SvGms",
              "w_bpSaved", "w_bpFaced", "l_ace", "l_df", "l_svpt", "l_1stIn", "l_1stWon",
              "l_2ndWon", "l_SvGms", "l_bpSaved", "l_bpFaced"]
merged_df[stats_cols] = merged_df[stats_cols].fillna(0)

In [35]:
# Minutes, height, age: Fill with median
merged_df["minutes"] = merged_df["minutes"].fillna(merged_df["minutes"].median())
merged_df["winner_ht"] = merged_df["winner_ht"].fillna(merged_df["winner_ht"].median())
merged_df["loser_ht"] = merged_df["loser_ht"].fillna(merged_df["loser_ht"].median())
merged_df["winner_age"] = merged_df["winner_age"].fillna(merged_df["winner_age"].median())
merged_df["loser_age"] = merged_df["loser_age"].fillna(merged_df["loser_age"].median())

# Ranks and points: Fill with 3000 and 0 for unranked
merged_df["winner_rank"] = merged_df["winner_rank"].fillna(3000)
merged_df["loser_rank"] = merged_df["loser_rank"].fillna(3000)
merged_df["winner_rank_points"] = merged_df["winner_rank_points"].fillna(0)
merged_df["loser_rank_points"] = merged_df["loser_rank_points"].fillna(0)

Drop rows which dont have critical features:

In [36]:
merged_df = merged_df.dropna(subset=["winner_name", "loser_name", "tourney_date", "surface", "loser_hand"])

Verifying missing values after handling....1

In [39]:
print(merged_df.isnull().sum())

tourney_id            0
tourney_name          0
surface               0
draw_size             0
tourney_level         0
tourney_date          0
match_num             0
winner_id             0
winner_name           0
winner_hand           0
winner_ht             0
winner_ioc            0
winner_age            0
loser_id              0
loser_name            0
loser_hand            0
loser_ht              0
loser_ioc             0
loser_age             0
score                 0
best_of               0
round                 0
minutes               0
w_ace                 0
w_df                  0
w_svpt                0
w_1stIn               0
w_1stWon              0
w_2ndWon              0
w_SvGms               0
w_bpSaved             0
w_bpFaced             0
l_ace                 0
l_df                  0
l_svpt                0
l_1stIn               0
l_1stWon              0
l_2ndWon              0
l_SvGms               0
l_bpSaved             0
l_bpFaced             0
winner_rank           0
winner_rank_points    0
loser_rank            0
loser_rank_points     0
dtype: int64

Now I'll write a script to save the clean handled data and run data exploration and important features identification on that:

In [40]:
merged_df.to_csv("atp_matches_2010_2024_missing_handled.csv", index=False)
print(f"Saved dataset with missing values handled: {len(merged_df)} rows, {len(merged_df.columns)} columns.")

Saved dataset with missing values handled: 42514 rows, 45 columns.