In [48]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [49]:
MLRTE_df = pd.read_csv("tennis_elo_with_margin.csv")

In [50]:
MLRTE_df.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,winner_id,winner_name,winner_hand,winner_ht,...,loser_rank,loser_rank_points,winner_elo_before,winner_elo_after,loser_elo_before,loser_elo_after,expected_winner,predicted_winner,actual_winner,correct_prediction
42509,2024-7696,Next Gen Finals,Hard,8,F,387,210460,Nishesh Basavareddy,R,180.0,...,50.0,1115.0,1469.577947,1510.802990,1629.970332,1614.510941,0.284287,0,1,False
42510,2024-7696,Next Gen Finals,Hard,8,F,388,209414,Luca Van Assche,R,178.0,...,50.0,1115.0,1498.664478,1521.501761,1614.510941,1600.237639,0.339199,0,1,False
42511,2024-7696,Next Gen Finals,Hard,8,F,389,210506,Alex Michelsen,R,193.0,...,138.0,440.0,1698.063229,1703.547316,1510.802990,1496.178758,0.746107,1,1,True
42512,2024-7696,Next Gen Finals,Hard,8,F,391,210506,Alex Michelsen,R,193.0,...,50.0,1115.0,1703.547316,1713.699781,1600.237639,1590.085173,0.644442,1,1,True
42513,2024-7696,Next Gen Finals,Hard,8,F,395,211663,Joao Fonseca,R,185.0,...,20.0,2355.0,1622.026483,1644.784839,1736.105816,1721.881844,0.341483,0,1,False

In [51]:
MLRTE_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,winner_id,winner_name,winner_hand,winner_ht,...,loser_rank,loser_rank_points,winner_elo_before,winner_elo_after,loser_elo_before,loser_elo_after,expected_winner,predicted_winner,actual_winner,correct_prediction
0,2010-339,Brisbane,Hard,32,A,1,104053,Andy Roddick,R,188.0,...,77.0,598.0,1500.0,1532.000000,1500.0,1468.000000,0.500000,0,1,False
1,2010-339,Brisbane,Hard,32,A,30,103285,Radek Stepanek,R,185.0,...,13.0,2610.0,1500.0,1532.000000,1500.0,1468.000000,0.500000,0,1,False
2,2010-339,Brisbane,Hard,32,A,29,104053,Andy Roddick,R,188.0,...,20.0,1655.0,1532.0,1561.060997,1500.0,1470.939003,0.545922,1,1,True
3,2010-339,Brisbane,Hard,32,A,28,103285,Radek Stepanek,R,185.0,...,105.0,521.0,1532.0,1561.060997,1500.0,1470.939003,0.545922,1,1,True
4,2010-339,Brisbane,Hard,32,A,27,104792,Gael Monfils,R,193.0,...,44.0,935.0,1468.0,1475.934507,1500.0,1492.065493,0.454078,0,1,False

In [52]:
print(MLRTE_df.columns)

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'match_num', 'winner_id', 'winner_name', 'winner_hand', 'winner_ht',
       'winner_ioc', 'winner_age', 'loser_id', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'winner_elo_before', 'winner_elo_after', 'loser_elo_before',
       'loser_elo_after', 'expected_winner', 'predicted_winner',
       'actual_winner', 'correct_prediction'],
      dtype='object')

In [53]:
MLRTE_df = MLRTE_df.drop(columns=["expected_winner", "predicted_winner", "actual_winner", "correct_prediction"])
MLRTE_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,winner_id,winner_name,winner_hand,winner_ht,...,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner_elo_before,winner_elo_after,loser_elo_before,loser_elo_after
0,2010-339,Brisbane,Hard,32,A,1,104053,Andy Roddick,R,188.0,...,3.0,5.0,7.0,4410.0,77.0,598.0,1500.0,1532.000000,1500.0,1468.000000
1,2010-339,Brisbane,Hard,32,A,30,103285,Radek Stepanek,R,185.0,...,3.0,7.0,12.0,2625.0,13.0,2610.0,1500.0,1532.000000,1500.0,1468.000000
2,2010-339,Brisbane,Hard,32,A,29,104053,Andy Roddick,R,188.0,...,10.0,12.0,7.0,4410.0,20.0,1655.0,1532.0,1561.060997,1500.0,1470.939003
3,2010-339,Brisbane,Hard,32,A,28,103285,Radek Stepanek,R,185.0,...,6.0,10.0,12.0,2625.0,105.0,521.0,1532.0,1561.060997,1500.0,1470.939003
4,2010-339,Brisbane,Hard,32,A,27,104792,Gael Monfils,R,193.0,...,3.0,6.0,13.0,2610.0,44.0,935.0,1468.0,1475.934507,1500.0,1492.065493

In [54]:
print(MLRTE_df.columns)

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'match_num', 'winner_id', 'winner_name', 'winner_hand', 'winner_ht',
       'winner_ioc', 'winner_age', 'loser_id', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'winner_elo_before', 'winner_elo_after', 'loser_elo_before',
       'loser_elo_after'],
      dtype='object')

In [55]:
# Step 1: Load and Prepare Data
df = MLRTE_df.copy()

# Define features (differences between winner and loser)
df["rank_diff"] = df["winner_rank"] - df["loser_rank"]
df["elo_diff"] = df["winner_elo_before"] - df["loser_elo_before"]
df["elo_change"] = df["winner_elo_after"] - df["winner_elo_before"]
df["ace_diff"] = df["w_ace"] - df["l_ace"]
df["df_diff"] = df["w_df"] - df["l_df"]
df["svpt_diff"] = df["w_svpt"] - df["l_svpt"]
df["1stIn_diff"] = df["w_1stIn"] - df["l_1stIn"]
df["1stWon_diff"] = df["w_1stWon"] - df["l_1stWon"]
df["2ndWon_diff"] = df["w_2ndWon"] - df["l_2ndWon"]
df["SvGms_diff"] = df["w_SvGms"] - df["l_SvGms"]
df["bpSaved_diff"] = df["w_bpSaved"] - df["l_bpSaved"]
df["bpFaced_diff"] = df["w_bpFaced"] - df["l_bpFaced"]
df["age_diff"] = df["winner_age"] - df["loser_age"]

# Encode categorical variable: surface
df = pd.get_dummies(df, columns=["surface"], drop_first=True)
# Convert bool to int for one-hot encoded columns
for col in ["surface_Clay","surface_Grass", "surface_Hard"]:
    df[col] = df[col].astype(int)

# Features to use
feature_cols = [
    "rank_diff", "elo_diff", "ace_diff", "df_diff", "svpt_diff", "1stIn_diff", "1stWon_diff",
    "2ndWon_diff", "SvGms_diff", "bpSaved_diff", "bpFaced_diff", "age_diff", 
] + [col for col in df.columns if col.startswith("surface_")]

In [56]:
df.head()

,tourney_id,tourney_name,draw_size,tourney_level,match_num,winner_id,winner_name,winner_hand,winner_ht,winner_ioc,...,1stIn_diff,1stWon_diff,2ndWon_diff,SvGms_diff,bpSaved_diff,bpFaced_diff,age_diff,surface_Clay,surface_Grass,surface_Hard
0,2010-339,Brisbane,32,A,1,104053,Andy Roddick,R,188.0,USA,...,8.0,7.0,3.0,0.0,0.0,-2.0,-3.0,0,0,1
1,2010-339,Brisbane,32,A,30,103285,Radek Stepanek,R,185.0,CZE,...,4.0,6.0,8.0,1.0,-2.0,-6.0,7.8,0,0,1
2,2010-339,Brisbane,32,A,29,104053,Andy Roddick,R,188.0,USA,...,17.0,9.0,-10.0,0.0,-6.0,-6.0,3.1,0,0,1
3,2010-339,Brisbane,32,A,28,103285,Radek Stepanek,R,185.0,CZE,...,-7.0,-1.0,6.0,-1.0,-5.0,-8.0,7.0,0,0,1
4,2010-339,Brisbane,32,A,27,104792,Gael Monfils,R,193.0,FRA,...,5.0,3.0,1.0,0.0,4.0,3.0,-6.7,0,0,1

In [57]:
print("Data types of features:")
print(df[feature_cols].dtypes)
print("\nNaN check in features:")
print(df[feature_cols].isna().sum())
print(df.columns)

Data types of features:
rank_diff        float64
elo_diff         float64
ace_diff         float64
df_diff          float64
svpt_diff        float64
1stIn_diff       float64
1stWon_diff      float64
2ndWon_diff      float64
SvGms_diff       float64
bpSaved_diff     float64
bpFaced_diff     float64
age_diff         float64
surface_Clay       int64
surface_Grass      int64
surface_Hard       int64
dtype: object

NaN check in features:
rank_diff        0
elo_diff         0
ace_diff         0
df_diff          0
svpt_diff        0
1stIn_diff       0
1stWon_diff      0
2ndWon_diff      0
SvGms_diff       0
bpSaved_diff     0
bpFaced_diff     0
age_diff         0
surface_Clay     0
surface_Grass    0
surface_Hard     0
dtype: int64
Index(['tourney_id', 'tourney_name', 'draw_size', 'tourney_level', 'match_num',
       'winner_id', 'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc',
       'winner_age', 'loser_id', 'loser_name', 'loser_hand', 'loser_ht',
       'loser_ioc', 'loser_age', 'score', 'best_of', 'round', 'minutes',
       'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms',
       'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn',
       'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'winner_elo_before', 'winner_elo_after', 'loser_elo_before',
       'loser_elo_after', 'rank_diff', 'elo_diff', 'elo_change', 'ace_diff',
       'df_diff', 'svpt_diff', '1stIn_diff', '1stWon_diff', '2ndWon_diff',
       'SvGms_diff', 'bpSaved_diff', 'bpFaced_diff', 'age_diff',
       'surface_Clay', 'surface_Grass', 'surface_Hard'],
      dtype='object')

In [58]:
# Target: 1 if winner is Player A (recorded winner), 0 if loser wins (flip for symmetry later)
df["target"] = 1

In [59]:
# Create a symmetric dataset by flipping winner/loser
df_flipped = df.copy()

df_flipped["rank_diff"] = -df_flipped["rank_diff"]
df_flipped["elo_diff"] = df["elo_diff"]
df_flipped["ace_diff"] = -df_flipped["ace_diff"]
df_flipped["df_diff"] = -df_flipped["df_diff"]
df_flipped["svpt_diff"] = -df_flipped["svpt_diff"]
df_flipped["1stIn_diff"] = -df_flipped["1stIn_diff"]
df_flipped["1stWon_diff"] = -df_flipped["1stWon_diff"]
df_flipped["2ndWon_diff"] = -df_flipped["2ndWon_diff"]
df_flipped["SvGms_diff"] = -df_flipped["SvGms_diff"]
df_flipped["bpSaved_diff"] = -df_flipped["bpSaved_diff"]
df_flipped["bpFaced_diff"] = -df_flipped["bpFaced_diff"]
df_flipped["age_diff"] = -df_flipped["age_diff"]
df_flipped["target"] = 0

In [60]:
# Combine original and flipped data
df_symmetric = pd.concat([df, df_flipped], ignore_index=True)

In [61]:
X = df_symmetric[feature_cols].values
y = df_symmetric["target"].values

# Randomized train-test split (e.g., 80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.15, random_state=42, stratify=y
)

In [62]:
# Debug: Check array shape and type
print("\nX_train shape:", X_train.shape)
print("X_train dtype:", X_train.dtype)
print("X_test shape: ", X_test.shape)

X_train shape: (72273, 15)
X_train dtype: float64
X_test shape:  (12755, 15)

In [63]:
df_symmetric.head()

,tourney_id,tourney_name,draw_size,tourney_level,match_num,winner_id,winner_name,winner_hand,winner_ht,winner_ioc,...,1stWon_diff,2ndWon_diff,SvGms_diff,bpSaved_diff,bpFaced_diff,age_diff,surface_Clay,surface_Grass,surface_Hard,target
0,2010-339,Brisbane,32,A,1,104053,Andy Roddick,R,188.0,USA,...,7.0,3.0,0.0,0.0,-2.0,-3.0,0,0,1,1
1,2010-339,Brisbane,32,A,30,103285,Radek Stepanek,R,185.0,CZE,...,6.0,8.0,1.0,-2.0,-6.0,7.8,0,0,1,1
2,2010-339,Brisbane,32,A,29,104053,Andy Roddick,R,188.0,USA,...,9.0,-10.0,0.0,-6.0,-6.0,3.1,0,0,1,1
3,2010-339,Brisbane,32,A,28,103285,Radek Stepanek,R,185.0,CZE,...,-1.0,6.0,-1.0,-5.0,-8.0,7.0,0,0,1,1
4,2010-339,Brisbane,32,A,27,104792,Gael Monfils,R,193.0,FRA,...,3.0,1.0,0.0,4.0,3.0,-6.7,0,0,1,1

In [64]:
df_symmetric.tail()

,tourney_id,tourney_name,draw_size,tourney_level,match_num,winner_id,winner_name,winner_hand,winner_ht,winner_ioc,...,1stWon_diff,2ndWon_diff,SvGms_diff,bpSaved_diff,bpFaced_diff,age_diff,surface_Clay,surface_Grass,surface_Hard,target
85023,2024-7696,Next Gen Finals,8,F,387,210460,Nishesh Basavareddy,R,180.0,USA,...,-8.0,9.0,1.0,1.0,5.0,0.2,0,0,1,0
85024,2024-7696,Next Gen Finals,8,F,388,209414,Luca Van Assche,R,178.0,FRA,...,-4.0,-2.0,-1.0,9.0,9.0,-0.7,0,0,1,0
85025,2024-7696,Next Gen Finals,8,F,389,210506,Alex Michelsen,R,193.0,USA,...,-4.0,3.0,-0.0,2.0,2.0,-0.7,0,0,1,0
85026,2024-7696,Next Gen Finals,8,F,391,210506,Alex Michelsen,R,193.0,USA,...,-4.0,-3.0,-1.0,1.0,2.0,-0.5,0,0,1,0
85027,2024-7696,Next Gen Finals,8,F,395,211663,Joao Fonseca,R,185.0,BRA,...,-7.0,4.0,-1.0,4.0,6.0,2.2,0,0,1,0

In [65]:
# Step 3: Normalize features
X_train_mean = np.nanmean(X_train, axis=0)
X_train_std = np.nanstd(X_train, axis=0)
X_train_std[X_train_std == 0] = 1e-10  # Avoid division by zero with small epsilon
X_train = np.where(np.isnan(X_train), 0, X_train)
X_train = (X_train - X_train_mean) / X_train_std
X_test = np.where(np.isnan(X_test), 0, X_test)
X_test = (X_test - X_train_mean) / X_train_std

In [66]:
# Add intercept term
X_train = np.hstack([np.ones((X_train.shape[0], 1)), X_train])
X_test = np.hstack([np.ones((X_test.shape[0], 1)), X_test])

In [67]:
# Step 4: Implement Logistic Regression
def sigmoid(z):
    return 1 / (1 + np.exp(-np.clip(z, -500, 500)))  # Clip to avoid overflow

def compute_loss(X, y, beta):
    z = np.dot(X, beta)
    y_pred = sigmoid(z)
    loss = -np.mean(y * np.log(y_pred + 1e-10) + (1 - y) * np.log(1 - y_pred + 1e-10))
    return loss

def compute_gradient(X, y, beta):
    z = np.dot(X, beta)
    y_pred = sigmoid(z)
    gradient = np.dot(X.T, (y_pred - y)) / len(y)
    return gradient

# Gradient Descent
beta = np.zeros(X_train.shape[1])  # Initialize coefficients
learning_rate = 0.01
n_iterations = 5000

for i in range(n_iterations):
    gradient = compute_gradient(X_train, y_train, beta)
    beta -= learning_rate * gradient
    if i % 100 == 0:
        loss = compute_loss(X_train, y_train, beta)
        print(f"Iteration {i}, Loss: {loss:.4f}")

Iteration 0, Loss: 0.6906
Iteration 100, Loss: 0.5262
Iteration 200, Loss: 0.4503
Iteration 300, Loss: 0.4062
Iteration 400, Loss: 0.3766
Iteration 500, Loss: 0.3551
Iteration 600, Loss: 0.3384
Iteration 700, Loss: 0.3249
Iteration 800, Loss: 0.3136
Iteration 900, Loss: 0.3041
Iteration 1000, Loss: 0.2958
Iteration 1100, Loss: 0.2885
Iteration 1200, Loss: 0.2820
Iteration 1300, Loss: 0.2761
Iteration 1400, Loss: 0.2708
Iteration 1500, Loss: 0.2660
Iteration 1600, Loss: 0.2615
Iteration 1700, Loss: 0.2574
Iteration 1800, Loss: 0.2536
Iteration 1900, Loss: 0.2501
Iteration 2000, Loss: 0.2468
Iteration 2100, Loss: 0.2437
Iteration 2200, Loss: 0.2408
Iteration 2300, Loss: 0.2381
Iteration 2400, Loss: 0.2355
Iteration 2500, Loss: 0.2331
Iteration 2600, Loss: 0.2308
Iteration 2700, Loss: 0.2286
Iteration 2800, Loss: 0.2265
Iteration 2900, Loss: 0.2246
Iteration 3000, Loss: 0.2227
Iteration 3100, Loss: 0.2209
Iteration 3200, Loss: 0.2192
Iteration 3300, Loss: 0.2175
Iteration 3400, Loss: 0.2160
Iteration 3500, Loss: 0.2145
Iteration 3600, Loss: 0.2130
Iteration 3700, Loss: 0.2116
Iteration 3800, Loss: 0.2103
Iteration 3900, Loss: 0.2090
Iteration 4000, Loss: 0.2078
Iteration 4100, Loss: 0.2066
Iteration 4200, Loss: 0.2054
Iteration 4300, Loss: 0.2043
Iteration 4400, Loss: 0.2033
Iteration 4500, Loss: 0.2022
Iteration 4600, Loss: 0.2013
Iteration 4700, Loss: 0.2003
Iteration 4800, Loss: 0.1994
Iteration 4900, Loss: 0.1985

In [68]:
# Step 5: Predict and Evaluate
def predict(X, beta):
    z = np.dot(X, beta)
    y_pred = sigmoid(z)
    return (y_pred >= 0.5).astype(int)

# Training accuracy
y_train_pred = predict(X_train, beta)
train_accuracy = np.mean(y_train_pred == y_train)
print(f"\nTraining Accuracy: {train_accuracy:.2%}")

# Test accuracy
y_test_pred = predict(X_test, beta)
test_accuracy = np.mean(y_test_pred == y_test)
print(f"Test Accuracy: {test_accuracy:.2%}")

Training Accuracy: 92.94%
Test Accuracy: 93.27%

In [69]:
from sklearn.metrics import accuracy_score, classification_report

# Predictions
y_train_pred = predict(X_train, beta)
y_test_pred = predict(X_test, beta)

# Accuracy using sklearn
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

print(f"Training Accuracy: {train_accuracy:.2%}")
print(f"Test Accuracy: {test_accuracy:.2%}")

# Detailed Classification Report
print("\nClassification Report (Test Set):")
print(classification_report(y_test, y_test_pred, target_names=["Player B Win", "Player A Win"]))

Training Accuracy: 92.94%
Test Accuracy: 93.27%

Classification Report (Test Set):
              precision    recall  f1-score   support

Player B Win       0.93      0.94      0.93      6378
Player A Win       0.94      0.93      0.93      6377

    accuracy                           0.93     12755
   macro avg       0.93      0.93      0.93     12755
weighted avg       0.93      0.93      0.93     12755